# ignore list
*/manifest.dat
*/manifest.key
*/publisher.key
*.dump
@DATA
7z.exe
releases
RaidGrid_EventScrutiny/alldat/RGES*
RaidGrid_EventScrutiny/alldat/sync*
RaidGrid_EventScrutiny/alldat/remote*
.DS_Store
